#settings-btn {
    display: flex;
    align-items: center;
    margin-right: 2vw;
    cursor: pointer;
    font-size: 1.25rem;
}
#settings-btn img {
    height: 1.5rem;
    padding-right: 0.25rem;
}
.settings {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 2rem;
}
.board-size {
    padding: 0 1.5rem;
    cursor: pointer;
}
.board-size.selected {
    color: darkgray;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.board-size:hover {
    color: cyan;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
