@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(40, 40, 40);
    font-family: 'Raleway', sans-serif;
    color: white;
}

li {
    list-style: none;
}

.grayout {
    background-color: rgb(40, 40, 40);
    color: white;
    pointer-events: none;
}

/* TUTORIAL */
#tutorial {
    position: fixed;
    padding-bottom: 1.5rem;
    top: 20%;
    left: 50%;
    width: 100vh;
    max-width: 75%;
    background-color: rgb(20, 20, 20);
    border: 1px solid snow;
    border-radius: 10px;
    transform: translate(-50%, 0) scale(1);
    transition: 200ms ease-in-out;
    z-index: 2;
}
#tutorial.off {
    transform: translate(-50%, 0) scale(0);
}
#tutorial h1{
    display: flex;
    justify-content: center;
    margin: 3rem;
    font-size: 2.5rem;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
#tutorial h3{
    font-size: 1.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-bottom: 3rem;
}
#tutorial li{
    margin: 1rem 3rem;
}

#overlay {
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: snow;
    z-index: 1;
    pointer-events: all;
}

#overlay.off {
    opacity: 0;
    pointer-events: none;
}

#top-container {
    display: flex;
    justify-content: space-between;
    margin: 1vh 3vh;
}

#legend-container {
    display: flex;
    height: 2rem;
    padding-top: 2vh;
}
#legend-container .img {
    width: 2rem;
}

.legend {
    line-height: 2rem;
    width: fit-content;
    text-align: center;
    padding: 0 1.5rem 0 .25rem;
}

#title {
    font-size: 3rem;
}

#board {
    margin: 1vh 25px;
}

/* BUTTON */
button {
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: white;
    transition: all 200ms ease;
    width: 8rem;
    padding: .7rem;
    border-radius: 7px;
    margin: 1vh;
    cursor: pointer;
}

#btn-container {
    display: flex;
    justify-content: space-between;
}

#algo-container {
    position: relative;
    display: flex;
    align-items: center;
}

#algo-container button {
    display: flex;
    justify-content: space-between;
    margin-left: 3vh;
    margin-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 1rem;
    width: 12rem;
}
#maze-btn {
    margin-left: 0 !important;
    width: 13rem !important;
}

.dropmenu {
    display: none;
    position: absolute;
    left: 3vh;
    bottom: 2.2rem;
    padding: .5vh;
    width: 12.5rem;
    background-color: snow;
    color: black;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 500;
}
.dropmenu.show {
    display: block;
}
.dropmenu li {
    padding: .5rem 3vh;
    cursor: pointer;
}
.dropmenu li:hover {
    background-color: rgb(243, 217, 170);
    border-radius: 7px;
}

#maze {
    left: calc(3vh + 12.5rem);
    width: 14rem;
}

#run {
    font-size: 1.25rem;
    width: 11rem;
}

#board-btn-container button:hover{
    font-weight: 900;
    background-color: blanchedalmond;
}

#adv-btn-container {
    margin: 2vh 3vh;
    font-size: 1.5rem;
    text-decoration: underline;
    text-underline-offset: .5rem;
    cursor: pointer;
}
#adv-btn-container:hover {
    color: rgb(252, 226, 56);
}