@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");

html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(40, 40, 40);
    font-family: "Raleway", sans-serif;
    color: white;
}
li {
    list-style: none;
}
.grayout {
    background-color: rgb(40, 40, 40);
    color: white;
    pointer-events: none;
}

/* TUTORIAL */
.window {
    position: fixed;
    padding-bottom: 1.5rem;
    top: 20%;
    left: 50%;
    max-width: 80%;
    background-color: rgb(20, 20, 20);
    border: 1px solid snow;
    border-radius: 10px;
    transform: translate(-50%, 0) scale(1);
    transition: 200ms ease;
    z-index: 2;
}
.window.off {
    transform: translate(-50%, 0) scale(0);
}
.window h1 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 3rem;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
.window h3 {
    font-size: 1.3rem;
    padding: 2rem 3rem;
}
.window li {
    margin: 1rem 3rem;
}

#info {
    width: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

#overlay {
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: snow;
    z-index: 1;
    pointer-events: all;
}
#overlay.off {
    opacity: 0;
    pointer-events: none;
}
/* TOP CONTAINER */
#top-container {
    display: flex;
    justify-content: space-between;
    margin: 1vh 3vh;
}
#legend-container {
    display: flex;
    height: 2rem;
    padding-top: 2vh;
}
#legend-container .img {
    width: 2rem;
}
.legend {
    line-height: 2rem;
    width: fit-content;
    text-align: center;
    padding: 0 1.5rem 0 0.25rem;
}

#title {
    font-size: 3rem;
}
#board {
    margin-left: 2vh;
}
